In [1]:
import pandas as pd
import numpy as np

In [2]:
df_ = pd.read_csv('tweet_labeled.csv')
df_.shape

(2284913, 8)

In [6]:
df_["user_followers"].dtype

dtype('float64')

In [7]:
follower =  df_["user_followers"] > 500
follower

0          False
1          False
2          False
3          False
4          False
           ...
2284908    False
2284909    False
2284910    False
2284911    False
2284912    False
Name: user_followers, Length: 2284913, dtype: bool

In [8]:
df = df_[follower]
df

,date,user_followers,user_favourites,text,price_now,label_12h,label_1D,label_1W
8,2021-02-05 10:58:00,2520.0,191.0,@JulSwap $juld $bnb #Binance #BSC #BinanceSmar...,37465.085,0.009951,0.068632,0.265499
9,2021-02-05 10:58:00,1036.0,8.0,AMAZONCOIN = 100% LOVE\n\nüíö üëâüëâ https://t.co/Gy...,37465.085,0.009951,0.068632,0.265499
10,2021-02-05 10:58:00,16546.0,71404.0,"#Bitcoin braces for $48,000 as inverse head-an...",37465.085,0.009951,0.068632,0.265499
11,2021-02-05 11:00:00,4154.0,46.0,"‚è∞ 14:00\n‚Çø Bitcoin = 37.494,1336 $\n#bitcoin #...",37454.790,0.009645,0.069917,0.267550
12,2021-02-05 11:00:00,16813.0,1201.0,üìñ Weekend Read üìñ\n\nKeen to learn about #cryp...,37454.790,0.009645,0.069917,0.267550
...,...,...,...,...,...,...,...,...
2284892,2022-02-09 23:59:00,1199.0,1890.0,@Breedlove22 #bitcoin is the path to end all f...,44413.225,0.010525,-0.019778,-0.011670
2284895,2022-02-09 23:59:00,535.0,0.0,"Did you miss out on $DOGE, $SHIB or $SAFEMOON?...",44413.225,0.010525,-0.019778,-0.011670
2284896,2022-02-09 23:59:00,1867.0,1892.0,Proving once again that just about anybody can...,44413.225,0.010525,-0.019778,-0.011670
2284900,2022-02-09 23:59:00,855.0,7136.0,@BinanceUS The Harmonauts are tracking! üöÄüåë #Ha...,44413.225,0.010525,-0.019778,-0.011670
2284907,2022-02-09 23:59:00,61802.0,9831.0,I‚Äôll make it easy for every candidate and elec...,44413.225,0.010525,-0.019778,-0.011670

In [9]:
#df.to_csv('tweet_500flw.csv', index=False)

In [10]:
d = {'binary_label_12h': np.sign(df['label_12h']), 'binary_label_1D': np.sign(df['label_1D']),
     'binary_label_1W': np.sign(df['label_1W'])}

binary_label_flw = pd.DataFrame(data = d)

In [11]:
binary_label_flw

         binary_label_12h  binary_label_1D  binary_label_1W
8                     1.0              1.0              1.0
9                     1.0              1.0              1.0
10                    1.0              1.0              1.0
11                    1.0              1.0              1.0
12                    1.0              1.0              1.0
...                   ...              ...              ...
2284892               1.0             -1.0             -1.0
2284895               1.0             -1.0             -1.0
2284896               1.0             -1.0             -1.0
2284900               1.0             -1.0             -1.0
2284907               1.0             -1.0             -1.0

[821852 rows x 3 columns]

In [12]:
#binary_label_flw.to_csv('binary_label_flw.csv', index=False)